.product-table {
  width: 70%;
  padding: 10px;
}

.loading-gif {
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
}

@media (max-width: 1020px) {
  .product-table {
    font-size: 14px;
  }
}
